---
layout: default
name: SLiMann
title: Recent Blog Posts
---
	<h1>{{ page.title }}</h1>
	<ul class="posts">
	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
	<hr>
	
	<div class="post">
		<!-- <h1>Tag: {{ page.tag }}</h1> -->
		<h1>vRealize Suite Lifecycle Manager</h1>
		<ul>
			{% for post in site.tags['vrslcm'] %}
			<li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
				{{ post.description }}
			</li>
			{% endfor %}
		</ul>
		</div>
		<hr>