<h6>
    <strong>DISCLAIMER</strong> This is a personal blog. Any views or opinions represented in this blog are personal and belong solely to the blog owner and do not represent those of people, institutions or organizations that the owner may or may not be associated with in professional or personal capacity, unless explicitly stated. Any views or opinions are not intended to malign any religion, ethnic group, club, organization, company, or individual.<br>
    All content provided on this blog is for informational purposes only. The owner of this blog makes no representations as to the accuracy or completeness of any information on this site or found by following any link on this site. The owner will not be liable for any errors or omissions in this information nor for the availability of this information. The owner will not be liable for any losses, injuries, or damages from the display or use of this information.<br>
    <strong>Photos</strong><br>
    Unless stated, all photos are the work of the blog owner and are licensed under a <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>. If used with watermark, no need to credit to the blog owner. For any edit to photos, including cropping, please contact me first.<br>
    <strong>Recipes</strong><br>
    Unless stated, all recipes are the work of the blog owner and are licensed under a <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>. Please credit all recipes to the blog owner and link back to the original blog post.<br>
    <strong>Downloadable Files</strong><br>
    Any downloadable file, including but not limited to pdfs, docs, jpegs, pngs, is provided at the user’s own risk. The owner will not be liable for any losses, injuries, or damages resulting from a corrupted or damaged file.<br>
    <strong>Comments</strong><br>
    Comments are welcome. However, the blog owner reserves the right to edit or delete any comments submitted to this blog without notice due to<br>
    – Comments deemed to be spam or questionable spam<br>
    – Comments including profanity<br>
    – Comments containing language or concepts that could be deemed offensive<br>
    – Comments containing hate speech, credible threats, or direct attacks on an individual or group<br>
    The blog owner is not responsible for the content in comments.<br>
    This policy is subject to change at anytime.
    disclamer c/o http://kaloferov.com/
</h6>