<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  /*height: 300px;  Should be removed. Only for demonstration */
}

/* Keep the fotter at the bottom 
.footer {
  
  left: 0;
  bottom: 0;
  width: 100%;
}
*/
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
  .Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
}
</style>
<body class="Site">
  <footer class="footer">
      <div class="container">
        <hr>
        <div class="row">
          <div class="column">
            <h2>Certs</h2>
            <!-- <p class="text-justify">SLiMann.com Blogging about my interest around GitOps and all things automation.</p> -->
            <a href="https://www.youracclaim.com/badges/7e7a6d40-978a-4289-b0ac-6dc668fde262/public_url" target="_blank">
              <img src="/assets/images/vmware-certified-professional-cloud-management-and-automation-2019.png" alt="VMware Certified Professional - Cloud Management and Automation 2019
              Issued by VMware" style="width:168px;height:168px;margin-left:2%;"></a>
          </div>
          <div class="column">
              {% include archive.html %}
          </div>
           <div class="column">
            <h2>Links</h2>
            <ul class="footer-links">
              <li><a href="/Welcome-Post.html">About Us</a></li>
              <li><a href="/Contact.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="column">
            <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          </div>
          <div class="column">
            Copyright &copy; 2020 All Rights Reserved by <a href="#">SLiMann</a>.
          </div>
          <div class="column">
            <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
          </div>
<!--               <ul class="social-icons">
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul> -->
          </div>
        </div>
      </div>
    </footer>
</body>